:root {
	--color1: #161512;
	--color2: #999999;
}

body {
	background-color: var(--color1);
}

.container{
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 33vw));
	grid-template-rows: repeat(3, minmax(0, 33vh));
	grid-template-areas:
	"list ptime ptime"
	"list memory swap"
	"list cpu .";
}

.ptime {grid-area: ptime;}
.memory {grid-area: memory;}
.swap {grid-area: swap;}
.cpu {grid-area: cpu;}

.chart{
	width: 100%;
	margin: 5px;
}

table {
	grid-area: list;
	color: var(--color2);
}

thead, tbody {display: block;}

thead {height 5vh;}

th {padding-right: 8vw;}

tbody {
	scrollbar-width: none;
	height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
}
