.container{
	display: grid;
	grid-template-areas:
	"list ptime ptime"
	"list memory swap";
	grid-template-columns: 33vw 33vw 33vw;
	grid-template-rows: 33vh 33vh 33vh;
}

.ptime {grid-area: ptime;}
.memory {grid-area: memory;}
.swap {grid-area: swap;}

.chart{
	width: 100%;
	margin: 5px;
}

table {grid-area: list;}

thead, tbody {display: block;}

thead {height 5vh;}

th {padding-right: 8vw;}

tbody {
	scrollbar-width: none;
	height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
}
